.new_expense{
    padding: 1rem;
    background-color: rgb(63, 20, 98);
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.75); 
}
.newExp_controls{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}
.newExp_control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: white;
}
.newExp_control input{
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 20rem;
}
.newExp_btn{
    text-align: right;
}
.newExp_btn button{
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 1px solid #540279;
    background-color: #930dd1;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}
.new_expense button:hover,
.new_expense button:active{
    background-color: #b13ee6;
    border-color: #510674;
}
